body {
  background-color: #333;
}
/* Container style */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Chat container style */
.chat-container {
  width: 579px;
  height: 300px; /* set a fixed height */
  overflow-y: auto; /* add a scroll bar */
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: grey;
  border-radius: 10px; /* add rounded corners */
}

/* User message style */
.user-message {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 70%;
  align-self: flex-end;
}

/* Bot message style */
.bot-message {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 70%;
  align-self: flex-start;
  font-family: 'Tangerine', serif;
}

/* Input message style */
.input-message {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Verdana', serif;
}

/* Send button style */
.send-button {
  background-color: lightblue;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 60px;
  margin-left: 10px;
}

/* Refresh button style */
.refresh-button {
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
  margin-right: 10px; /* add some margin to the right */
  background: linear-gradient(to right, #e0e0e0 20% , #f0f0f0 30%, rgb(97, 30, 255) 10%);
  background-size: 400% 100%;
  background-clip: text;
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  animation: shimmer 6s linear infinite;
  background-color: white;
}

/* Input container style */
.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* change from center to space-between */
  margin-top: 10px;
  width: 603px;
  color: grey;
}


.swaggpt-title {
  font-family: 'Roboto Slab', serif;
  font-size: 3em;
  margin-top: 30px;
  text-align: center;
  background: linear-gradient(to right, rgb(97, 30, 255) 10%, #e0e0e0 20%, #f0f0f0 30%);
  background-size: 400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 6s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 250% center;
  }
}

